

input{
    margin-top: 20px;
}

select{
    margin-top: 20px;
}

.table th{
    font-size: 12px;
}

.table td{
    font-size: 10px;
}

@media screen and (min-width: 320px) and (max-width: 577px) {
    h1{
        font-size: 20px;
    }
    .table th{
        font-size: 8px;
    }
    
    .table td{
        font-size: 7px;
    }
}